:root {
    /* Tailwind Cores */
    /* Slate */
    --slate-50: #f9fafb;
    --slate-100: #f4f5f7;
    --slate-200: #e5e7eb;
    --slate-300: #d2d6dc;
    --slate-400: #9fa6b2;
    --slate-500: #6b7280;
    --slate-600: #4b5563;
    --slate-700: #374151;
    --slate-800: #1f2937;
    --slate-900: #111827;
    /* Sky */
    --sky-50: #f0f9ff;
    --sky-100: #e4f2fe;
    --sky-200: #d2e7fd;
    --sky-300: #9ec2fb;
    --sky-400: #7ca8fa;
    --sky-500: #3e82f7;
    --sky-600: #1862f5;
    --sky-700: #0f4ddb;
    --sky-800: #0c3aa6;
    --sky-900: #0a297c;

    --white: #FFF;
    --black: #000;

    --color-primary: #3e82f7;
    --color-primary-hover: #1862f5;
    --text-secondary: #6b7280;
}

body {
    background-color: var(--slate-50);
    font-family: 'Mukta', sans-serif;
    min-height: 100vh;
}

/* #region == Letra == */
h1 {
    font-size: 2.5rem;
    /* font-weight: 500; */
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    /* font-weight: 500; */
    line-height: 1.2;
}

h3 {
    font-size: 1.75rem;
    /* font-weight: 500; */
    line-height: 1.2;
}

h4 {
    font-size: 1.5rem;
    /* font-weight: 500; */
    line-height: 1.2;
}

h5 {
    font-size: 1.25rem;
    /* font-weight: 500; */
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
    /* font-weight: 500; */
    line-height: 1.2;
}

/* .text-xs { font-size: .75rem; }       
.text-sm { font-size: .875rem; }     
.text-base { font-size: 1rem; }     
.text-lg { font-size: 1.125rem; }   
.text-xl { font-size: 1.25rem; }      
.text-2xl { font-size: 1.5rem; }      
.text-3xl { font-size: 1.875rem; }    
.text-4xl { font-size: 2.25rem; }    
.text-5xl { font-size: 3rem; }       
.text-6xl { font-size: 4rem; }      */

/* #endregion == Letra == */



.hidden{
    display: none;
}

.valid{
    color:green;
}

.invalid{
    color:red;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.div-title{
    margin: 40px 0;
    text-align: center;
}
.div-title p{
    color: var(--slate-400);
}
.div-title.dark h2{
    color: var(--slate-200);
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}