:root {
    /* Tailwind Cores */
    /* Slate */
    --slate-50: #f9fafb;
    --slate-100: #f4f5f7;
    --slate-200: #e5e7eb;
    --slate-300: #d2d6dc;
    --slate-400: #9fa6b2;
    --slate-500: #6b7280;
    --slate-600: #4b5563;
    --slate-700: #374151;
    --slate-800: #1f2937;
    --slate-900: #111827;
    /* Sky */
    --sky-50: #f0f9ff;
    --sky-100: #e4f2fe;
    --sky-200: #d2e7fd;
    --sky-300: #9ec2fb;
    --sky-400: #7ca8fa;
    --sky-500: #3e82f7;
    --sky-600: #1862f5;
    --sky-700: #0f4ddb;
    --sky-800: #0c3aa6;
    --sky-900: #0a297c;

    --white: #FFF;
    --black: #000;

    --color-primary: #3e82f7;
    --color-primary-hover: #1862f5;
    --text-secondary: #6b7280;
}

body {
    background-color: var(--slate-50);
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Jost', sans-serif;
}

/* #region == Letra == */
h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

/* .text-xs { font-size: .75rem; }       
.text-sm { font-size: .875rem; }     
.text-base { font-size: 1rem; }     
.text-lg { font-size: 1.125rem; }   
.text-xl { font-size: 1.25rem; }      
.text-2xl { font-size: 1.5rem; }      
.text-3xl { font-size: 1.875rem; }    
.text-4xl { font-size: 2.25rem; }    
.text-5xl { font-size: 3rem; }       
.text-6xl { font-size: 4rem; }      */

/* #endregion == Letra == */




/* #region == NavBar == */
.navbar {
    background-color: var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100vw;
    padding: 15px;
    border-radius: 10px;
}

.navbar ul {
    display: none;
    justify-self: start;
}

.navbar ul a {
    color: var(--slate-500);
    transition: 0.3s ease;
    font-size: .875rem;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding: 10px;
    max-height: 30px;
}

.navbar .active,
.navbar ul a:hover {
    color: var(--black);
    font-weight: bold;
}

/* Linha do Hover */
.navbar ul a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    opacity: 0;
    transition: all 0.3s ease;
}

.navbar .active::after,
.navbar ul a:hover::after {
    opacity: 1;
    width: 100%;
}

.logo {
    width: 150px;
    position: relative;
}

.logo img {
    position: absolute;
    top: -20px;
    width: 150px;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* Nav Right */
.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.cart-btn {
    background-color: var(--color-primary);
    padding: 8px 20px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-size: .875rem;

    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

.cart-btn:hover {
    background-color: var(--color-primary-hover);
}


/* Nav Mobile */
.mobile-nav-backfilter {
    display: none;
    /* background-color: #9fa6b28e; */
    backdrop-filter: blur(3px);
    width: calc(100vw);
    height: calc(100vh);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1900;
}

.showbackfilter {
    display: block;
}

.mobile-navmenu {
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    background: #ffffff;
    height: calc(100vh);
    transform: translateX(100%);
    /* transition: all 0.3s ease; */
    transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
}

.shownavmenu {
    right: 300px;
}

.mobile-navmenu-exit {
    margin-left: auto;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

.mobile-navmenu-exit,
.navMobileBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.mobile-navmenu-exit:hover,
.navMobileBtn:hover {
    color: var(--color-primary);
    background-color: var(--slate-200);
}

.navMobileBtn i {
    font-size: 1.2em;
}


.mobile-navmenu ul a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.mobile-navmenu ul a:hover {
    background-color: var(--slate-200);
}

/* #endregion == NavBar == */


/* #region Cart */

.checkout-grid {
    display: grid;
    gap: 10px;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
}

.item-card {
    display: flex;
    height: 150px;
    border: 1px var(--slate-300) solid;
    border-radius: 15px;
    margin-top: 10px;
    overflow: hidden;
}

.edit-container>.fa-trash-can {}

.checkout-product-image>img {
    width: 150px;
}

.product-details {
    display: flex;
    width: 100%;
    text-align: justify;
    justify-content: space-between;
    padding: 1rem;
}

.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: fit-content;
}

.details-container {
    width: 100%;
}

.product-details>.price {
    text-align: end;
}

.product-quantity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
}

.product-quantity-container input {
    border: 0;
    text-align: center;
    width: 25px;
    padding: 5px 0;
}

.product-quantity-container button {
    background-color: var(--color-primary);
    padding: 2px 6px;
    border: 0;
    cursor: pointer;
    color: white;
}

.check-coupon-container {
    display: flex;
    justify-content: center;
}

.check-coupon-container>form {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
}

.check-coupon-container>form>.btn {
    background-color: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    color: white;

}

.input-coupon {
    border: 0;
    width: 70%;
    height: 100%;
    padding: 0 0 0 10px;
}

.input-coupon:focus {
    outline: 0;
}

.payment-info {}

.order-total-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.order-total-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 5px;
}

.order-total-values {
    display: flex;
    flex-direction: column;
    text-align: right;
    row-gap: 5px;
}


/* #endregion Cart */



/*  #region Contact Us  */

.contact {
    color: var(--white);
    background-color: var(--black);
    padding: 40px 0px 80px 0px;
}

.contact-header {
    text-align: center;
    padding-bottom: 30px;
}

.contact-form-main {
    display: grid;
    gap: 50px;
}

.contact-form {
    width: 100%;
    height: 100%;
}

.contact-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px 15px 5px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 0px;
}

.contact-form input:focus {
    outline: 0;
}

.contact-form textarea {
    width: 100%;
    padding: 5px 5px 40px 5px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 0px;
    resize: none;
}

.contact-form textarea:focus {
    outline: 0;
}

.contact-form button {
    padding: 10px 20px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 0px;
    cursor: pointer;
}

.contact-map {
    text-align: center;
    width: 100%;
    height: 100%;
}

.contact-map iframe {
    width: 100%;
    height: 260px;
}

.contact-map p {
    color: var(--white);
    font-size: .875rem;
    margin-top: 15px;
}


/* #endregion Contact Us  */


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .navMobileBtn {
        display: none;
    }

    .navbar ul {
        display: flex;
    }

    .contact-form-main {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form button {
        width: fit-content;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    /*.item-list{*/
    /*    max-width: 80%;*/
    /*}*/

    /*.payment-info{*/
    /*    max-width: 80%;*/
    /*}*/

    /*.checkout-grid{*/
    /*    */
    /*}*/
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .item-list {
        max-width: 100%;
    }

    .checkout-grid {
        display: grid;
        grid-template-areas: "items items payment";
    }

    .item-list {
        grid-area: items;
    }

    .payment-info {
        margin-top: 2rem;
        grid-area: payment;
        position: sticky;
        top: 4rem;
        height: 100vh;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}