
/* #region ==== Cart ==== */

.checkout-grid {
    display: grid;
    gap: 30px;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    background-color: white;
    border-radius: 10px;
    min-width: 30vw;
}

.cart-column-names{
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    text-align: center;

    border-bottom: 1px solid var(--slate-200);
    margin: 0 10px;
}

.cart-column-names>*{
    width: 20%;
}

.product{
    display: grid;
    /*justify-content: space-between;*/
    align-items: center;
    text-align: center;
    padding: 10px;
    grid-template-areas: "image name btns"
    "image price btns";
}

.product>*{
    width: 20%;
}

.item-list:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.product-quantity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    grid-area: btns;
    justify-self: end;
}

.product-quantity-container input {
    border: 0;
    text-align: center;
    width: 30px;
    padding: 3px 0;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.product-quantity-container input:focus{
    outline: none;
}

.product-quantity-container button {
    background-color: var(--slate-300);
    padding: 7px 4px;
    border: 0;
    cursor: pointer;
    font-size: 0.7rem;
    color: black;
}

.product-quantity-container button:hover{
    color:white;
    background-color: var(--slate-900);
    transition: ease-in 0.1s;
}

.check-coupon-container {
    display: flex;
    justify-content: center;
}

.check-coupon-container>form {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.check-coupon-container>form>.btn {
    background-color: var(--slate-900);
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    color: white;
}

.input-coupon {
    border: 0;
    min-width: 70%;
    height: 100%;
    padding: 0 0 0 10px;
}

.input-coupon:focus {
    outline: 0;
}

.payment-info {

}

.order-total-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.order-total-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 5px;
}

.order-total-values {
    display: flex;
    flex-direction: column;

    text-align: right;

    row-gap: 5px;
}

.product-price{
    grid-area: price;
    min-width: 80px;
}

.product-name{
    grid-area: name;

    min-width: 80px;
}

.product-image{
    grid-area: image;

    align-self: center;

    overflow: hidden;
    min-height: 100%;
}

.product-image>img{
    width: 100%;
    object-fit: scale-down;
}

.hidden{
    display: none;
}
/* #endregion Cart */



@media (min-width: 576px) {
    .product-image{
        height: 90px;
    }

    .product-quantity-container button {
        padding: 10px 15px;
    }
    .product-quantity-container input {
        width: 50px;
    }
    .product-quantity-container {
        flex-direction: row;
    }
    .product{
        display: flex;
        justify-content: space-around;
        align-items: center;

        text-align: center;
        padding: 10px;
    }
}



@media (min-width: 992px) {


    .product-image{
        height: 140px;
    }

    .checkout-grid {
        display: grid;
        grid-template-areas: "items payment";
    }

    .item-list {
        grid-area: items;
    }

    .payment-info {
        grid-area: payment;
        top: 4rem;
        margin-top: 2rem;

        position: sticky;
    }
}