
/* #region ==== Cart ==== */

.checkout-grid {
    display: grid;
    gap: 30px;
}

.item-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    min-width: 30vw;
}

.item-list:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.cart-column-names{
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    text-align: center;

    border-bottom: 1px solid var(--slate-200);
    margin: 0 10px;
}

.cart-column-names>*{
    width: 20%;
}



.product{
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid var(--slate-200);
}

.product:last-child {
    border-bottom: 0;
}


.product-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-image{
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.product-image > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 100%;
}

.product-name{
    font-size: .875rem;
    align-self: start;
    text-align: start;
}

.product-price{
    font-size: 1rem;
    align-self: start;
}


.product-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-quantity-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--slate-200);
}

.product-quantity-container input {
    border: 0;
    text-align: center;
    width: 40px;
    padding: 0px 0;
    border-right: 1px solid var(--slate-200);
    border-left: 1px solid var(--slate-200);
}

.product-quantity-container input:focus{
    outline: none;
}

/* Para remover as setas input */
.product-quantity-container input::-webkit-inner-spin-button,
.product-quantity-container input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-quantity-container input[type="number"] {
  -moz-appearance: textfield; 
}


.product-quantity-container button {
    /* background-color: var(--slate-300); */
    background-color: transparent;
    border: 0;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    font-size: 0.7rem;
    color: black;
    transition: ease 0.3s;
}

.product-quantity-container button:hover{
    color:white;
    background-color: var(--slate-900);
}

.product-right > .btn-delete {
    background-color: transparent;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    font-size: 0.7rem;
    color: black;
    border: 1px solid var(--slate-200);
    border-radius: 8px;
    transition: ease-in 0.1s;
}

.product-right > .btn-delete:hover {
    color: red;
    background-color: rgb(82, 1, 1);
}


.check-coupon-container {
    display: flex;
    justify-content: center;
}

.check-coupon-container>form {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.check-coupon-container>form>.btn {
    background-color: var(--slate-900);
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    color: white;
}

.input-coupon {
    border: 0;
    min-width: 70%;
    height: 100%;
    padding: 0 0 0 10px;
}

.input-coupon:focus {
    outline: 0;
}

.payment-info {

}

.order-total-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.order-total-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 5px;
}

.order-total-values {
    display: flex;
    flex-direction: column;

    text-align: right;

    row-gap: 5px;
}

.hidden{
    display: none;
}
/* #endregion Cart */



@media (min-width: 576px) {
    /* .product-image{
        height: 90px;
    } */

    /* .product-quantity-container button {
        padding: 10px 15px;
    }
    .product-quantity-container input {
        width: 50px;
    }*/
    /* .product-quantity-container {
        flex-direction: row;
    }  */
    /* .product{
        display: flex;
        justify-content: space-around;
        align-items: center;

        text-align: center;
        padding: 10px;
    } */
}



@media (min-width: 992px) {


    /* .product-image{
        height: 140px;
    } */

    .checkout-grid {
        display: grid;
        grid-template-areas: "items payment";
    }

    .item-list {
        grid-area: items;
    }

    .payment-info {
        grid-area: payment;
        top: 4rem;
        margin-top: 2rem;

        position: sticky;
    }
}