/*  #region ==== Contact Us ==== */

.contact-banner {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.contact-banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(6px);
    transform: scale(1.1);
    object-fit: cover;
}

.contact-banner-static {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    padding: 20px;
    z-index: 2;
    background-color: rgba(34, 34, 34, 0.436);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.5s ease;
}

.contact-banner-static:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;
}

.contact-banner-static-content {
    text-align: center;
    color: white;
}

.contact-banner-static-content>h5 {
    color: var(--slate-300);
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-banner-static-content button {
    padding: 10px 20px;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid var(--white);
    width: 100%;
    color: var(--white);
    border-radius: 0px;
    cursor: pointer;
    transition: border, color, background-color 0.5s ease;
}

.contact-banner-static-content button:hover {
    background-color: var(--white);
    color: var(--black);
    transition: border, color, background-color 0.5s ease;
}

.contact {
    color: var(--white);
    background-color: var(--black);
    padding: 40px 0px 80px 0px;
}

.contact-header {
    text-align: center;
    padding-bottom: 30px;
}

.contact-form-main {
    display: grid;
    gap: 50px;
}

.contact-form {
    width: 100%;
    height: 100%;
}

.contact-form-input {
    margin-bottom: 15px;
}

.contact-form-input input {
    width: 100%;
    padding: 5px 5px 15px 5px;
    margin-bottom: 3px;
    background-color: transparent;
    border: 1px solid var(--slate-400);
    color: var(--white);
    transition: border 0.5s ease;
}

.contact-form-input input:focus {
    outline: none;
    border: 1px solid var(--white);
}

.contact-form-input textarea {
    width: 100%;
    padding: 10px 10px 40px 5px;
    background-color: transparent;
    border: 1px solid var(--slate-400);
    color: var(--white);
    resize: none;
    transition: border 0.5s ease;
}

.contact-form-input textarea:focus {
    outline: none;
    border: 1px solid var(--white);
}

.contact-form-input span {
    font-size: .875rem;
    display: none;
}

.contact-form-input.invalid span {
    display: block;
    color: red;
}

.invalid input,
.invalid textarea {
    border-color: rgb(131, 0, 0);
}

.invalid input:focus,
.invalid textarea:focus {
    border-color: red;
}

.contact-form button {
    padding: 10px 20px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 0px;
    cursor: pointer;
    transition: border, color, background-color 0.5s ease;
}

.contact-form button:hover {
    background-color: var(--white);
    color: var(--black);
    transition: border, color, background-color 0.5s ease;
}

.contact-map {
    text-align: center;
    width: 100%;
    height: 100%;
}

.contact-map iframe {
    width: 100%;
    height: 83%;
}

.contact-map p {
    color: var(--white);
    font-size: .875rem;
    margin-top: 15px;
}

.team-header {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: var(--slate-900);
}

.team {
    display: grid;
    gap: 50px;
}

.team-member {
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
    transition: box-shadow 0.5s ease;
}

.team-member:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;
}

.team-member-img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
}

.team-member-img img {
    width: 100%;
    height: 100%;
}

.team-member-info {
    flex: 1;
    text-align: center;
}

.team-member-info h5 {
    color: var(--slate-500);
    font-weight: 500;
    margin-bottom: 20px;
}

.team-member-info p {
    color: var(--slate-900);
    font-style: italic;
    line-height: 1.0rem;
    font-size: .875rem;
    margin-bottom: 20px;
}

.team-member-social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.team-member-social i {
    color: var(--slate-500);
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.5s ease;
}

.team-member-social i:hover {
    color: var(--slate-900);
    transition: color 0.5s ease;
}

/* #endregion Contact Us  */

@media (min-width: 768px) {
    .contact-banner-static-content {
        text-align: left;
    }

    .contact-form-main {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form button {
        width: fit-content;
    }

    .team {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-member {
        flex-direction: column;
    }
}