footer{
    background-color: var(--black);
    color: var(--slate-400);
    /* padding: 20px; */
    /* font-size: 14px; */
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    line-height: 1.25;
    margin-top: 80px;
    position: sticky;
    top: 100%;
}

.footer-grid{
    display: grid;
    grid-gap: 40px;
    padding: 40px 20px;
    border-bottom: 1px solid var(--slate-800);
}

.footer-grid h4{
    color: var(--slate-300);
    margin-bottom: 20px;
}

.footer-grid .company p{
    color: var(--slate-400);
}

.footer-grid li{
    margin-bottom: 10px;
}
.footer-grid li:last-child{
    margin: 0;
}

.footer-grid a{
    color: var(--slate-400);
    text-decoration: none;
}

.footer-grid a:hover{
    color: var(--slate-200);
    text-decoration: none;
}

.footer-grid .f-social ul li{
    display: inline-block;
}
.footer-grid .f-social i{
    color: var(--slate-400);
    border: 1px solid var(--slate-400);
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-grid .f-social i:hover{
    color: var(--slate-200);
    text-decoration: none;
}

.footer-grid i{
    margin-right: 10px;
}




.footer-rights{
    text-align: center;
}
.footer-rights p{
    color: var(--slate-400);
    padding: 20px;
}



@media (min-width: 576px) { 
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }  
 }

@media (min-width: 992px) { 
    .footer-grid{
        grid-template-columns: repeat(4, 1fr);
    }    
 }