
/* #region ==== shop ==== */
.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    background-color: white;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.product-card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 220px;
    padding: 30px;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
}

.product-image img {
    width: 100%;
    /* height: auto; */
    cursor: pointer;
    transition: all 0.5s ease;
}

.product-card:hover .product-image img {
    transform: scale(1.1);
}



.product-addcart {
    position: absolute;
    bottom: 10px;
    transition: all 0.5s ease;
    padding: 10px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: .875rem;
}

.product-addcart:hover {
    background-color: var(--color-primary);
    opacity: 1;
}



.product-info .product-name {
    color: var(--slate-400);
    font-size: 1rem;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-pricenrating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.product-info .product-price {
    font-weight: 500;
    font-size: 1.125rem;
}

.product-rating {
    display: flex;
    gap: 1px;
}

.product-rating i {
    color: var(--slate-400);
}

/* #endregion == shop == */

@media (min-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .product-image {
        height: 220px;
    }
}

@media (min-width: 992px) {
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-image {
        height: 250px;
    }

    .product-addcart {
        bottom: -25px;
        opacity: 0;
    }

    .product-card:hover .product-addcart {
        bottom: 10px;
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .product-image {
        height: 300px;
    }
}